<div *ngIf="orders.length > 0">
    <table class="table">
        <thead class="thead-dark">
            <th>
                Time
            </th>
            <th>
                Price
            </th>
            <th>
                Name
            </th>
        </thead>
        <tr *ngFor="let order of orders">
            <td>{{order.timestamp | date:'medium'}}</td>
            <td>{{order.product.price}}</td>
            <td>{{order.product.title}}</td>
        </tr>
    </table>
    <button (click)="clear()" class="btn btn-outline-danger">CLEAR</button>
</div>
<div *ngIf="orders.length === 0">
    <h4>No active orders found, make sure you make some in the
        <a routerLink="/" routerLinkActive="active" role="button" class="nav-link light">Shop</a>
    </h4>
</div>