<div>
    ORDERS
    <table class="table">
        <thead>
            <td>
                Time
            </td>
            <td>
                Price
            </td>
            <td>
                Name
            </td>
        </thead>
        <tr *ngFor="let order of orders">
            <td>{{order.timestamp | date:'medium'}}</td>
            <td>{{order.product.price}}</td>
            <td>{{order.product.title}}</td>
        </tr>
    </table>
    <button (click)="clear()" class="btn btn-outline-danger">CLEAR</button>
</div>